<html>

<body class="min-h-screen flex items-center justify-center pattern relative">
  <div class="absolute bottom-9 left-9 mt-9">
    <p-button label="Regresar" icon="pi pi-arrow-left" variant="text" routerLink="/"></p-button>
  </div>

  <div class="bg-white/95 shadow-2xl rounded-2xl p-10 w-full max-w-md">

    <h2 class="text-2xl font-bold text-gray-800 mb-2 text-center">Iniciar Sesión</h2>
    <p class="text-gray-500 mb-6 text-center">Acceso para Usuarios</p>

    <!-- Mensaje de error -->
    <div *ngIf="mensajeError" class="p-3 mb-4">
      <div *ngIf="!mensajeError.includes('login administrativo')" class="p-4 text-sm text-red-700 bg-red-100 rounded-lg">
        {{ mensajeError}}
      </div>

      <div *ngIf="mensajeError.includes('login administrativo')" class="p-4 text-sm text-blue-700 bg-blue-100 rounded-lg border border-blue-300">
        <div class="font-semibold">Acceso restringido</div>
        <div> {{ mensajeError}} </div>
        <div>
          Redirgiendo al login administrativo...
        </div>
      </div>
    </div>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-6">

      <!-- Email -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input id="email" type="email" formControlName="email"
          class="mt-1 block w-full rounded-lg border border-gray-300 p-3 shadow-sm focus:ring-[#6CA700] focus:border-[#6CA700] text-gray-800 placeholder-gray-400"
          placeholder="tu@email.com" [class.border-red-500]="tieneError('email')">
        <div *ngIf="tieneError('email')" class="text-xs text-red-600 mt-1">
          {{ obtenerMensajeError('email') }}
        </div>
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input id="password" type="password" formControlName="password"
          class="mt-1 block w-full rounded-lg border border-gray-300 p-3 shadow-sm focus:ring-[#6CA700] focus:border-[#6CA700] text-gray-800 placeholder-gray-400"
          placeholder="Tu contraseña" [class.border-red-500]="tieneError('password')">
        <div *ngIf="tieneError('password')" class="text-xs text-red-600 mt-1">
          {{ obtenerMensajeError('password') }}
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" [disabled]="loginForm.invalid || cargando"
        class="w-full text-white flex items-center justify-center gap-2 rounded-lg bg-lime-600 font-medium px-4 py-3 transition-all duration-300 hover:bg-[#406102] disabled:opacity-50 disabled:cursor-not-allowed">
        <p-progress-spinner *ngIf="cargando" [style]="{ width: '20px', height: '20px' }" strokeWidth="4"
          animationDuration="3s" ariaLabel="Cargando" class="force-white-spinner">
        </p-progress-spinner>
        <span class="font-semibold">
          {{ cargando ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
        </span>
      </button>
    </form>

    <div class="mt-6 text-center text-sm text-gray-600">
      <p><a href="#" routerLink="/admin/login" class="hover:text-[#6CA700]">¿Eres administrador o recepcionista?</a></p>
      <p><a href="#" routerLink="/register" class="hover:text-[#6CA700]">¿No tienes cuenta? Regístrate</a></p>
    </div>
  </div>
</body>

</html>