<div class="container mt-4">
  <h2>Mi Perfil</h2>

<div *ngIf="user">
  <p><strong>Nombre:</strong> {{ user.nombre }} {{ user.apellido }}</p>
  <p><strong>Email:</strong> {{ user.sub }}</p>
  <p><strong>Rol:</strong> {{ user.roles[0] }}</p>
  <p><strong>Documento:</strong> {{ user.tipoDocumento }}: {{ user.numDocumento }}</p>
  <p><strong>Teléfono:</strong> {{ user.telefono }}</p>
  <p><strong>Género:</strong> {{ user.genero }}</p>
  <p><strong>Fecha de Nacimiento:</strong> {{ user.fechaNacimiento }}</p>
  <button (click) = "logout()"><strong>Cerrar sesión</strong></button>
</div>

</div>
